.container {
    width: 750px;
    margin: 0 auto;
}

.page-heading {
    background-color: blue;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 4px 12px;
    text-transform: uppercase;
}

.recipe-link {
    color: inherit;
    text-decoration: none;
}

.recipe-list {
    list-style-type:none;
    padding: 0;
}

.recipe-name {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 6px;
}

.recipe-card {
    border: 1px solid grey;
    border-radius: 0px;
    margin: 6px 0px;
    padding: 8px 12px;
    padding-left: 8px;
    background-color: white;
    display: flex;
}

.recipe-thumbnail {
    height: 150px;
    width: auto;
    margin: 6px;
    margin-right: 24px;
    /* border: 1px solid grey; */
    border-radius: 0px;
}

.recipe-preview {
    color: grey
}

.recipe-image {
    width: 80%;
    height: auto;
    border-radius: 0%;
    border: solid 1px grey;
    margin: 0 auto;
    display: block;
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: blue;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 18px 0px;
    margin: 24px 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}


body {
    font-family: system-ui;
    background-color:rgb(255, 246, 246);
}



/* 
.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font-size: 0.88rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    transition: translate 180ms, opacity 180ms;
    opacity: 0.8;
} */